* {
  margin: auto 0;
}

body {
  max-width: 100%;
  min-height: 100%;
}

#eightImage {
  background-image: url("eightball.jpg");
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
  margin-left: 260px;
  padding-left: 120px;
}

h1 {
  margin: auto 0;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2.7em;
  background-color: paleturquoise;
  height: 70px;
}

.subhead h3 {
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5em;
  background-color: pink;
  padding-top: 60px;
  padding-bottom: 60px;
}

.unOrderedList {
  margin-top: 140px;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5em;
}

.list_group li {
  line-height: 35px;
  list-style-type: none;
}

.button {
  margin-top: 230px;
  margin-left: 330px;
  padding: 10px;
  padding-left: 10px;
  position: absolute;
  left: 440px;
  width: 95px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: paleturquoise;
  border: none;
}

.answerBox {
  display: inline-flex;
  position: relative;
  top: -162px;
  left: 480px;
  margin-left: 560px;
  margin-top: 250px;
  padding: 20px;
  width: 200px;
  height: 200px;
  border: solid black;
  border-radius: 6px;
}

#answers {
  font-family: sans-serif;
  font-size: 1em;
  color: black;
  width: 200px;
  text-align: center;
  position: relative;
}
